/* Fill me in :) */
.Profile-logo {
  background-image: url("../pages/purpletalking.png");
  /* make it responsive */
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  top: 100px;
  left: 0px;
  /* div height to be the same as width*/
  padding-top: 80%;

  /* make it a circle 
  border-radius: 100%;*/

  /* Centering on image`s center*/
  background-position-y: 0;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: --xs;

  /* it is optional, for making this div centered in parent*/
}
